<header class="site-header">
  <div class="site-header__inner">
    <!-- LOGO -->
    <a
      href="/index.html"
      class="site-header__logo"
      aria-label="Accueil Neature"
    >
      <img src="/assets/logos/logo_vecto.svg" alt="Neature" />
    </a>

    <!-- NAVIGATION -->
    <nav class="site-header__nav" aria-label="Navigation principale">
      <!-- PARTICULIERS + MEGA MENU -->
      <div class="nav-item nav-item--mega">
        <a
          href="/pages/particuliers.html"
          class="nav-item__link"
          aria-haspopup="true"
        >
          Particuliers
          <i class="fi fi-rr-angle-small-down"></i>
        </a>

        <div class="mega-menu mega-menu--particuliers">
          <div class="mega-menu__inner">
            <!-- COLONNE GAUCHE -->
            <div class="mega-menu__categories">
              <div class="mega-menu__heading">
                <i class="fi fi-rr-home"></i>
                <span>Particuliers</span>
              </div>

              <!-- NUISIBLES -->
              <button
                class="mega-menu__category is-active"
                type="button"
                data-mega-target="nuisibles"
              >
                <span class="mega-menu__category-icon">
                  <i class="fi fi-rr-bug"></i>
                </span>
                <span>Nuisibles</span>
                <i class="fi fi-rr-angle-small-right"></i>
              </button>

              <!-- POLE BOIS -->
              <button
                class="mega-menu__category"
                type="button"
                data-mega-target="pole-bois"
              >
                <span class="mega-menu__category-icon">
                  <i class="fi fi-rr-logs"></i>
                </span>
                <span>Pôle Bois</span>
                <i class="fi fi-rr-angle-small-right"></i>
              </button>

              <!-- NOS SOLUTIONS -->
              <button
                class="mega-menu__category"
                type="button"
                data-mega-target="solutions-particuliers"
              >
                <span class="mega-menu__category-icon">
                  <i class="fi fi-rr-settings"></i>
                </span>
                <span>Nos solutions</span>
                <i class="fi fi-rr-angle-small-right"></i>
              </button>
            </div>

            <!-- COLONNE DROITE -->
            <div class="mega-menu__content">
              <!-- NUISIBLES -->
              <div
                class="mega-menu__panel is-active"
                data-mega-panel="nuisibles"
              >
                <a href="#">Cafards &amp; blattes</a>
                <a href="#">Fourmis</a>
                <a href="#">Frelons asiatiques</a>
                <a href="#">Guêpes</a>
                <a href="#">Punaises de lit</a>
                <a href="#">Puces de parquet</a>
                <a href="#">Rats &amp; rongeurs</a>
                <a href="#">Volatiles</a>

                <a href="#" class="mega-menu__view-all">
                  Voir toutes les espèces
                  <i class="fi fi-rr-arrow-right"></i>
                </a>
              </div>

              <!-- POLE BOIS -->
              <div class="mega-menu__panel" data-mega-panel="pole-bois">
                <a href="#">Aérogommage des bois</a>
                <a href="#">Champignons lignivores</a>
                <a href="#">Entretien et embellissement des bois</a>
                <a href="#">Insectes xylophages</a>
                <a href="#">Termites</a>
              </div>

              <!-- NOS SOLUTIONS -->
              <div
                class="mega-menu__panel"
                data-mega-panel="solutions-particuliers"
              >
                <a href="#">Traitement</a>
                <a href="#">Prévention</a>
                <a href="#">Protection du bâti</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ENTREPRISES + MEGA MENU -->
      <div class="nav-item nav-item--mega">
        <a
          href="/pages/entreprises.html"
          class="nav-item__link"
          aria-haspopup="true"
        >
          Entreprises
          <i class="fi fi-rr-angle-small-down"></i>
        </a>

        <div class="mega-menu mega-menu--entreprises">
          <div class="mega-menu__inner">
            <!-- COLONNE GAUCHE -->
            <div class="mega-menu__categories">
              <div class="mega-menu__heading">
                <i class="fi fi-rr-building"></i>
                <span>Entreprises</span>
              </div>

              <!-- SECTEURS D'ACTIVITE -->
              <button
                class="mega-menu__category is-active"
                type="button"
                data-mega-target="secteurs"
              >
                <span class="mega-menu__category-icon">
                  <i class="fi fi-rr-building"></i>
                </span>
                <span>Secteurs d’activité</span>
                <i class="fi fi-rr-angle-small-right"></i>
              </button>

              <!-- NOS ACCOMPAGNEMENTS -->
              <button
                class="mega-menu__category"
                type="button"
                data-mega-target="accompagnements"
              >
                <span class="mega-menu__category-icon">
                  <i class="fi fi-rr-handshake"></i>
                </span>
                <span>Nos accompagnements</span>
                <i class="fi fi-rr-angle-small-right"></i>
              </button>
            </div>

            <!-- COLONNE DROITE -->
            <div class="mega-menu__content">
              <!-- SECTEURS D'ACTIVITE -->
              <div
                class="mega-menu__panel is-active"
                data-mega-panel="secteurs"
              >
                <a href="/pages/entreprises/secteurs/agroalimentaire.html"
                  >Agroalimentaire</a
                >
                <a href="#">Agriculture</a>
                <a href="#">Bureaux</a>
                <a href="#">Commerce</a>
                <a href="#">Hôtellerie</a>
                <a href="#">Industrie</a>
                <a href="#">Médico-social</a>
                <a href="#">Restauration / cafés / bars</a>
              </div>

              <!-- NOS ACCOMPAGNEMENTS -->
              <div class="mega-menu__panel" data-mega-panel="accompagnements">
                <a href="#">Intervention ponctuelle</a>
                <a href="#">Contrat de prévention</a>
                <a href="#">Suivi régulier</a>
                <a href="#">Multi-sites</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- AUTRES ENTREES -->
      <a href="/pages/collectivites.html">Collectivités</a>
      <a href="#" class="nav-separator-left">Nos expertises</a>
      <a href="#" class="nav-separator-left">À propos</a>
    </nav>

    <!-- ACTIONS -->
    <div class="site-header__actions">
      <a class="button button--outline" href="tel:0222666300">
        <i class="fi fi-ss-phone-call"></i>
        02 22 66 63 00
      </a>

      <a class="button button--primary" href="#">Devis gratuit</a>

      <div class="user-lock">
        <i class="fi fi-sr-user-lock"></i>
      </div>
    </div>

    <!-- BURGER -->
    <button
      class="site-header__burger"
      type="button"
      aria-label="Ouvrir le menu"
      aria-expanded="false"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
