<!-- Section recherche d'un service -->

<form class="hero-search">
  <div class="hero-search__field">
    <label for="problem">Vous cherchez</label>

    <select id="problem">
      <option>Votre problème</option>
    </select>
  </div>

  <div class="hero-search__field">
    <label for="city">Votre ville</label>

    <select id="city">
      <option>Sélectionnez</option>
    </select>
  </div>

  <button class="button button--primary hero-search__button" type="submit">
    Trouver ma solution
  </button>
</form>
